{{define "home"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/tw.css">
    <title>Document</title>
  </head>
  <body>
    <main class="p-5 flex flex-col space-y-5 max-w-screen-sm mx-auto">
      <a href="/app/workout/create" class="text-center border border-slate-800 rounded-md px-2">Create a new workout</a>

      <div class="flex flex-col space-y-3">
        {{range .}}

          <a href="/app/workout/{{.ID}}" class="text-center border border-slate-800 rounded-md px-2">Start workout {{.Name}}</a>

        {{end}}
      </div>
    </main>
  </body>
</html>

{{end}}
