{{define "post-entry"}}

<form hx-post="/app/workout/entry" hx-target="this" hx-swap="outerHTML">
    <input type="text" name="junction_id" value="{{.JunctionID}}" hidden >
    <input type="number" name="set_number" value="{{.SetNumber}}" hidden >
    <label for="weight">
        Weight
        <input onclick="this.select()" type="number" name="weight" min="0" max="1000" {{if not (eq .Weight 0)}}placeholder="{{.Weight}}"{{end}}>
    </label>
    <label for="reps">
        Reps
        <input onclick="this.select()" type="number" name="reps" min="0" max="1000" {{if not (eq .Reps 0)}}placeholder="{{.Reps}}"{{end}}>
    </label>
    <input type="submit" value="Submit">
</form>
<span id="entry-error"></span>

{{end}}