{{define "workout-id"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        {{range .Data}}

        <p>{{.ExerciseName}}</p>

            {{range .Sets}}

            {{template "post-entry" .}}

            {{end}}

        {{end}}
    </main>
</body>
</html>

{{end}}